polkit.addRule(function(action, subject) {
  var actions = [
    "org.freedesktop.login1.power-off",
    "org.freedesktop.login1.reboot",
    "org.freedesktop.login1.suspend",
    "org.freedesktop.login1.hibernate",
    "org.freedesktop.login1.hybrid-sleep"
  ];
  if (actions.indexOf(action.id) >= 0) {
    if (subject.isInGroup && subject.isInGroup("wheel")) return polkit.Result.YES;
    if (subject.active && subject.local) return polkit.Result.YES;
  }
});
